<a href="https://colab.research.google.com/github/manasaj91/testrepo/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# H1 : Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas
4. PyTorch
5. SciPy

|Data Science Tools|
-----------------------------
|TensorFlow|
|Tableau|
|Apache Hadoop|
|SciPy|
|NumPy|
|Julia|
|PyTorch|

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python
print(5 - 2)
print(3 * 9)
print(35 / 6)
print(84 + 61)
print(26 == 26)
print(62 % 4)
print(42 // 2)

3
27
5.833333333333333
145
True
2
21

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

Objectives:
- List of langagues for Data Science
- Data Science Tools
- Libraries used by Data Scientist
- Arithmetic Expression Examples

## Author
Manasa