#The Final Project

##Introduction

###Data Science Languages
1. Python
2. R
3. Java
4. JavaScript
5. SQL

###Data Science Libraries
1. Pandas
2. NumPy
3. Py-Torch
4. SciPy
5. Keras

###Data Science Tools
1. Apache Spark
2. Apache Hadoop
3. MATLAB
4. Tableau
5. Julia

###Arithmetic Expressions

In [3]:
###Mulitply and Addition operation
print(2*9)
print(6+7)

18
13

In [6]:
 ### Converting minutes to hours
print(243/60)

4.05

###Objectives
- Data Science Languages
- Data Science Libraries
- Data Science Tools
- Arithmentic Expression
- Converting minutes to hours

###Author
####Manasa

########Note: I was having issue with my Jupyter note, so I have choose Goolgle Colab to complete the assignment